
form{
  position: relative;
  right: 3em;
}

  .task,
  span,
  label {
    display: block;
    margin: 10px;
    padding: 5px;
    border: none;
    font-size: 22px;
    color: #f6e9e9;
  }
  
  .task:focus {
    outline: 0;
  }
 
  
 .task {
    font-weight: 300;
    border-radius: 2px;
    margin: 0;
    border: none;
    width: 138%;
    background: rgba(0, 0, 0, 0);
    transition: padding-top 0.2s ease, margin-top 0.2s ease;
  }
 
  
.task + label
   {
    display: block;
    position: relative;
    white-space: nowrap;
    padding: 0;
    margin: 0;
    width: 10%;
    border-top: 1px solid #e16428;
    -webkit-transition: width 0.4s ease;
    transition: width 0.4s ease;
    height: 0px;
  }
  
.task:focus + label {
    width: 100%;
  }
  
.task:focus {
    padding-top: 35px;
  }
  

  
.task:focus + label > span,
.task:valid + label > span {
    top: -80px;
    font-size: 20px;
    color: #8F8F8F;
  }
  
  
.task + label > span {
    font-weight: 300;
    margin: 0;
    position: absolute;
    color: #8F8F8F;
    font-size: 48px;
    top: -66px;
    left: 0px;
    z-index: -1;
    -webkit-transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
    transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
  }
  